@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  -ms-overflow-style: none;
  overscroll-behavior-y: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

#infinite {
  animation: scroll 20s linear infinite;
  /* -webkit-mask: linear-gradient(
    90deg, 
    transparent, 
    white 20%, 
    white 80%, 
    transparent
    ); */
}

@keyframes scroll {
  to {
    transform: translate(-100%);
  }
}

