@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Whyte-Black";
  src: url("./assets/font/Whyte-Black.ttf");
}

@font-face {
  font-family: "Whyte-Book";
  src: url("./assets/font/Whyte-Book.ttf");
}

@font-face {
  font-family: "Whyte-Bold";
  src: url("./assets/font/Whyte-Bold.ttf");
}

@font-face {
  font-family: "Whyte-Medium";
  src: url("./assets/font/Whyte-Medium.ttf");
}

@font-face {
  font-family: "Whyte-Light";
  src: url("./assets/font/Whyte-Light.ttf");
}

@font-face {
  font-family: "Whyte-ExtraLight";
  src: url("./assets/font/Whyte-ExtraLight.ttf");
}

@font-face {
  font-family: "WhyteInktrap-Black";
  src: url("./assets/font/WhyteInktrap-Black.ttf");
}

@font-face {
  font-family: "WhyteInktrap-Bold";
  src: url("./assets/font/WhyteInktrap-Bold.ttf");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  -ms-overflow-style: none;
  overscroll-behavior-y: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

#infinite {
  animation: scroll 20s linear infinite;
  /* -webkit-mask: linear-gradient(
    90deg, 
    transparent, 
    white 20%, 
    white 80%, 
    transparent
    ); */
}

.scroll-container {
  width: 100%;
  overflow: hidden;
}

.scroll-content {
  width: max-content !important;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-33.2% - 0.5rem));
  }
}

.font-white-black {
  font-family: "Whyte-Black";
}

.font-white-book {
  font-family: "Whyte-Book";
}

.font-white-bold {
  font-family: "Whyte-Bold";
}

.font-white-light {
  font-family: "Whyte-Light";
}

.font-white-medium {
  font-family: "Whyte-Medium";
}

.font-white-el {
  font-family: "Whyte-ExtraLight";
}

.font-white-it-black {
  font-family: "WhyteInktrap-Black";
}

.font-white-it-bold {
  font-family: "WhyteInktrap-Bold";
}

